.menu {
    z-index: 1000;
    position: absolute;
    overflow: hidden;
    border: 1px solid #CCC;
    white-space: nowrap;
    font-family: sans-serif;
    background: #FFF;
    color: #333;
    list-style: none;
    -webkit-box-shadow: 0 2px 5px rgba(0,0,0,.15);
    box-shadow: 0 2px 5px rgba(0,0,0,.15);
    font-size: 13px;
    outline: 0;
    padding: 2px 0;
}

.menu li {
    padding: 8px 12px;
    cursor: pointer;
}

.menu li:hover {
    background-color: #DEF;
}
